/***************Element***********/
h1 {
  color: #3A3B3C;
  margin: 50px auto 0px auto;
  font-family: "Kaushan Script", cursive;
  font-size: 5.625rem;
 
}

h2 {
  font-family: "Abyssinica SIL", serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #3A3B3C;
  margin: 50px auto 0px auto;
}

h3 {
  font-family: "Abyssinica SIL", serif;
  color: #3A3B3C;
  margin: 50px auto 0px auto;
}

hr {
  clear: both;
}

body {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  background-color: ;
}

/***************Class*************/
.top {
  padding-top: 100px;
}

.middle {}

.bottom {
  color: #5800FF;
}

.dev {
  color: #5800FF;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-shadow: 1px 1px 2px;
}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.skillfsgif {
  width: 25%;
  float: left;
  margin-right: 15px;
}

.skilltech {
  width: 25%;
  float: right;
  margin-left: 15px;
}

/***************New Nav Bar with Responsive for mobile***************/

:root {
  --playing-state: paused;
}

#main-wrapper:hover {
  --playing-state: running;
}

.anim {
  ...
  animation: simpleAnim 2s linear infinite alternate;
  animation-play-state: var(--playing-state);
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #3A3B3C;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.logo {
  color: azure;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;

}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links a {
  color: azure;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;

}

.nav-links li {
  list-style: none;

}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: azure;
  margin: 5px;
  border: 1px;
  border-radius: 20%;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
  .nav-links {
      display: flex;
      justify-content: space-around;
      width: 50%;
  }
}

@media screen and (max-width:768px){
  body{
      overflow-x: hidden; /* this makes page not scroll, with menu off side */
  }
  .nav-links {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background-color: #3A3B3C;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      transform: translateX(100%); /* this moves it all the way off screen*/
      transition: 0.5s ease-in;

  }
  .nav-links li {
      
  }
  .burger {
      display: block;
  }

}

.nav-active {
  transform: translateX(0%); /* this moves it back */
}

/* Animation */

@keyframes navLinkFade {
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/* stops the animation during resize re: js */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
